.header {
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  border-bottom: 1px solid #545454;
}

.header__link {
  cursor: default;
}

.header__content_logo {
  padding-top: 45px;
  margin-bottom: 41px;
  width: 173px;
}

.header__link .header__logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {

  
  .header__logo {
     
      margin-left: 27px;
  }
}

